 *{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;

 }
 /* share style*/
 .main-btn{
    background-color:  rgb(74, 85, 162);
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 3% 5%;
    border: none;
    transition: width 1s;

 }
 .main-btn:hover{
    width: 250px;
   
 }


 /*nav bar*/
 nav{
    max-width: 1600px;
    height: 10%;
    margin: 0% auto;
    background-color: #b7b7ff;
 }
 .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1rem;
    width: 560px;

 }

 nav ul li >img{ /*for icon*/
    border: 1px solid #b7b7ff;
    border-radius: 100%;
    margin: 0%;
    width: 25px;
 }
 nav ul li a{
    font-size: 1rem;
    text-align: center;
    color: #3A3A3A;
    font-weight: 600;
   

 }
 .nav-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
    padding-left: 2%;

    
 }
 /*banner section*/
 .banner{
    max-width: 1600px;
    margin: 0% auto;
    margin-top: 5%;
 }
 .banner-container{
    display: flex;
    justify-content: space-between;
 }
 .banner-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #3A3A3A;

 }
 .banner-story{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 3rem;
 }
 .box-2 >img{
    width: 440px;
    transition: width 1s;
   
 }
 .box-2 >img:hover{
    width: 500px;
 }
 .box-1{
    width: 580px;
 }
 /*sponsor section*/
 .sponsor{
   max-width: 1600px;
   margin: 0% auto;
 }
 .sponsor-container{
   display: flex;
   border: 0px #3A3A3A solid ;
   justify-content: space-evenly;
   padding: 2rem 3rem;
   margin-top: 3rem;
   align-items: center;
  
 }
 .sponsor-container.img{
   
 }
 .sponsor-container.img:hover{
    
 }
 .sponsor-icon{

 }

 /*Popular-Collection section*/
 .Popular-Collection{
   max-width: 1600px;
   margin: 0% auto;
   justify-content: space-around;  
 }
.Popular-Collection-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   width: 100%;
   height: 1150px;
   justify-content:;
   gap: 0%;
   overflow-y: auto;
   border-left: #b7b7ff solid;
   /*border-bottom: #b7b7ff solid ; */
}
.shop-card{
   width: fit-content;
   border-radius: 5px;
   background: #FFF;
   padding: 2%;
   border:rgb(160, 191, 224) solid;
   justify-content: space-around;
   margin-left: 6.5rem;
   margin-bottom: 2rem;
   background-color: rgb(197, 223, 248);
   box-shadow: 33px 36px 57px -1px rgba(0,0,0,0.75);
   -webkit-box-shadow: 33px 36px 57px -1px rgba(0,0,0,0.75);
   -moz-box-shadow: 33px 36px 57px -1px rgba(0,0,0,0.75);  
}
.Popular-Collection-div{
   width: 100%;
   height: 5rem;
   background-color: #b7b7ff;
   margin-bottom: 2rem;
   align-items: center;
   justify-content: center;
}
.reting img{
   width: 65px;
   height: 50px;
}
.popular-sec-title{
   font-size: 2.1rem;
   font-weight: 600;
   margin-top: 2rem;
   margin-left: auto;
   margin-right: auto;
   width: fit-content;  
}
.card-story{
   width: 18rem;
   font-size: 0.9rem;
   font-weight: 700;
   color: #787885;
   padding-top: 0%;
   margin-top: -1%;
   border: rgb(197, 223, 248) solid;
}
.shop-card>p{
   color: rgb(74, 85, 162);
}



/*  <!--feature section--> */
.feature{
   max-width: 1600px;
   margin: 0% auto;
  /* border: #1717ad solid;*/
}
.feature-container{
   display: flex;
   justify-content: space-between;
   margin-top: 3rem;
}
.feature-poster>img{
      width: 700px;
      margin: 0% auto;
      padding: 10%;
}
.feature-poster{
  /* border: gold solid;*/
   width: 50%;
}
.feature-content{
 /*  border: red solid; */
   width: 50%;
   padding: 5%;
}




/* footer */

.footer-div{
   max-width: 1600px;
   background-color: rgb(74, 85, 162);
   display: flex;
   margin: 0% auto;
}
.footer-content{
     
     justify-content: center;
     margin: 0% auto;
 
}
.footer-content h3{
   font-size: 1.3rem;
   color: #FFF;
   font-weight: 700;
   justify-content: center;
   padding-bottom: 0%;
   margin-bottom: 0%;
}
.footer-content p{
   font-size: 0.9rem;
   font-weight: 700;
}
/*
.social{
   width: 10%;
   border: gold solid;
   
}
.social p{
   font-size: 0.9rem;
   font-weight: 700;
   inline-size: ;
}
*/