 *{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;

 }
 /* share style*/
 .main-btn{
    background-color:  rgb(74, 85, 162);
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 3% 5%;
    border: none;
    transition: width 1s;

 }
 .main-btn:hover{
    width: 250px;
    border-radius: 10px;
 }


 /*nav bar*/
 nav{
    max-width: 1600px;
    height: 10%;
    margin: 0% auto;
    background-color: #b7b7ff;
 }
 .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1rem;
    width: 560px;

 }

 nav ul li >img{ /*for icon*/
    border: 1px solid #b7b7ff;
    border-radius: 100%;
    margin: 0%;
    width: 25px;
 }
 nav ul li a{
    font-size: 1rem;
    text-align: center;
    color: #3A3A3A;
    font-weight: 600;
   

 }
 .nav-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
    padding-left: 2%;

    
 }
 /*banner section*/
 .banner{
    max-width: 1600px;
    margin: 0% auto;
    margin-top: 5%;
 }
 .banner-container{
    display: flex;
    justify-content: space-between;
 }
 .banner-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #3A3A3A;

 }
 .banner-story{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
 }
 .box-2 >img{
    width: 440px;
    transition: width 1s;
   
 }
 .box-2 >img:hover{
    width: 500px;
 }
 .box-1{
    width: 580px;
 }